@import '../../assets/styles/vars';

.btn-default {
  color: #fff;
}

.btn-primary,
.btn,
.btn-lg,
.btn-md,
.btn-sm,
.btn-xs {
  color: #1d89ff;
}

.btn-warn {
  color: #feab3a;
}

.btn-danger {
  color: #ff5964;
}

.btn-success {
  color: #28b78d;
}

.btn-royal {
  color: #bd2df5;
}

.btn,
.btn-lg,
.btn-md,
.btn-sm,
.btn-xs {
  background: transparent;
  border-color: transparent;
  border-width: 0;
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
}

.btn-lg {
  font-family: inherit;
  font-size: 24px;
  padding: 8px 15px;
}

.btn-md {
  font-family: inherit;
  font-size: 20px;
  padding: 5px 12px;
}

.btn-sm {
  font-family: inherit;
  font-size: 16px;
  padding: 4px 10px;
}

.btn-xs {
  font-family: inherit;
  font-size: 12px;
  padding: 3px 8px;
}

.btn-flat {
  background: transparent;
  background: #fff;
  border-color: transparent;
  border-radius: 2px;
  border-width: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  color: #1d89ff;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  padding: 5px 12px;
  position: relative;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

  &:hover,
  &:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    transition: box-shadow 0.4s ease-out;
  }

  &.btn-xs {
    font-family: inherit;
    font-size: 12px;
    padding: 3px 8px;
  }

  &.btn-sm {
    font-family: inherit;
    font-size: 16px;
    padding: 4px 10px;
  }

  &.btn-md {
    font-family: inherit;
    font-size: 20px;
    padding: 5px 12px;
  }

  &.btn-lg {
    font-family: inherit;
    font-size: 24px;
    padding: 8px 15px;
  }

  &.btn-default {
    background: #fff;
    color: #1d89ff;
  }

  &.btn-primary {
    background: #1d89ff;
    color: #fff;
  }

  &.btn-warn {
    background: #feab3a;
    color: #fff;
  }

  &.btn-danger {
    background: #ff5964;
    color: #fff;
  }

  &.btn-success {
    background: #28b78d;
    color: #fff;
  }

  &.btn-royal {
    background: #bd2df5;
    color: #fff;
  }
}
