@import '../../assets/styles/vars';

.app {
  margin: 2vw auto;
  text-align: center;
  width: 80vw;
}

.title {
  color: $black;
  font-size: 3rem;
  margin: 0.67em 0;
}

.box {
  display: flex;
  justify-content: center;
}

.board {
  // flex: $flex;
}

.panel {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5vw;
  margin-left: 3vw;
}

.comments {
  background: $gray;
  border-radius: 5px;
  margin: 3.85vw auto 0;
  padding: 1.54vw;
  width: 42vw;

  .comments-title {
    border-bottom: 1px solid $border-color;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.77vw;
    text-align: left;

    span {
      background: $gray;
      color: $light-black;
      text-decoration: line-through;
    }
  }
}
