@import '../../assets/styles/vars';

.app {
  margin: 2vw auto;
  text-align: center;
  width: 80vw;
}

.title {
  color: $black;
  font-size: 3rem;
  margin: 0.67em 0;
}

.box {
  display: flex;
  justify-content: center;
}

.board {
  // flex: $flex;
}

.panel {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5vw;
  margin-left: 3vw;
}


$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);

.gameover {
  background: #e1f5fe;
  border-radius: 10px;
  box-shadow: $box-shadow;
  height: 10vw;
  width: 30vw;

  .text {
    color: $blue;
    font-size: 1.5rem;
    padding: 0.7vw 0;
  }

  .banner {
    background: $blue;
    box-shadow: $box-shadow;
    color: #fff;
    font-size: 3rem;
    height: 5vw;
    line-height: 5vw;
    margin: 0 -3px 0 -3px;
  }

}

.button-wrapper {
  background: #fff;
  border: 0;
  border-radius: 3vw;
  box-shadow: $box-shadow;
  flex: 0 0 100%;
  margin: auto;
  margin-top: 1vw;
  width: 80%;

  .button {
    background: transparent;
    cursor: pointer;
  }

  .button:focus {
    outline: 0;
  }

  img {
    padding: 0.5vw;
    width: 3vw;
  }
}

.comments {
  background: $gray;
  border-radius: 5px;
  margin: 3.85vw auto 0;
  padding: 1.54vw;
  width: 42vw;

  .comments-title {
    border-bottom: 1px solid $border-color;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.77vw;
    text-align: left;

    span {
      background: $gray;
      color: $light-black;
      text-decoration: line-through;
    }
  }
}
