@import '../../assets/styles/vars';

.footer {
  border-top: 1px $border-color solid !important;
  color: $black;
  display: inline-block;
  margin-top: 30px;
  padding: 40px 0 20px;
  width: 750px;

  .icon {
    margin-right: 10px;
  }

  .github {
    margin-bottom: -6px;
    width: 32px;
  }

  .heart {
    color: $peach;
    font-size: 18px;
    margin: 0 10px;
    transform: scale(0.9);
  }

  .link {
    margin-left: 10px;
    outline: none !important;
    text-decoration: none !important;

    &:hover,
    &:active,
    &:focus {
      outline: none !important;
    }
  }
}
