@import '../../assets/styles/vars';

.main {
  text-align: center;
}

.comments {
  background: $gray;
  border-radius: 5px;
  margin: 3.85vw auto 0;
  padding: 1.54vw;
  width: 60vw;

  .comments-title {
    border-bottom: 1px solid $border-color;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.77vw;
    text-align: left;

    span {
      background: $gray;
      color: $light-black;
      text-decoration: line-through;
    }
  }
}

