@import '../../assets/styles/vars';

.app {
  margin: 20px;
  text-align: center;
}

.box {
  // align-items: flex-end;
  display: flex;
  justify-content: center;
}

.board {
  // flex: $flex;
}

.gameover {
  .text {
    margin-bottom: 10px;
  }

  .score {
    margin-bottom: 15px;
  }

  img {
    width: 23px;
  }
}
