@import './vars';

:global {
  body {
    background: #fff;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  input,
  button,
  submit {
    // stylelint-disable-next-line
    border: none;
  }

  p {
    margin: 0;
  }
}
