@import './vars';

:global {
  body {
    background: #fff;
    font-family: 'Lucida Sans Unicode';
    margin: 0;
    padding: 0;
  }

  input,
  button,
  submit {
    // stylelint-disable-next-line
    border: none;
  }

  p {
    margin: 0;
  }
}
