$red: #ff5252;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$indigo: #3f51b5;
$blue: #2196f3;
$light-blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$deep-orange: #ff5722;
$brown: #795548;
$grey: #9e9e9e;

$white: #fff;
$gray: #f7f7f7;
$black: #303030;
$light-black: #666;
$peach: #ff4081;

$btn-bg: $black;
$btn-color: $white;

$border-color: #e1e4e8;

// sizes
$break-point: 768px;
$mobile: 'all and (max-width : #{$break-point})';


@function get-vw($object) {
  $vw: (1440 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
