$red: lighten(#b71c1c, 10%);
$pink: lighten(#880e4f, 10%);
$purple: lighten(#4a148c, 10%);
$deep-purple: lighten(#311b92, 10%);
$indigo: lighten(#1a237e, 10%);
$blue: lighten(#0d47a1, 10%);
$light-blue: lighten(#01579b, 10%);
$cyan: lighten(#006064, 10%);
$teal: lighten(#004d40, 10%);
$green: lighten(#1b5e20, 10%);
$light-green: lighten(#33691e, 10%);
$lime: lighten(#827717, 10%);
$yellow: lighten(#f57f17, 10%);
$amber: lighten(#ff6f00, 10%);
$orange: lighten(#e65100, 10%);
$deep-orange: lighten(#bf360c, 10%);
$brown: lighten(#3e2723, 10%);
$grey: lighten(#212121, 10%);
$blue-grey: lighten(#263238, 10%);

$white: #fff;
$gray: #f7f7f7;
$black: #303030;
$peach: #ff79c6;

$btn-bg: $black;
$btn-color: $white;
